doctype html
html(lang="en")
    head
        title To-do-app
        link(rel='stylesheet', href='/static/styles/styles.css')
    body 
        div.wrapper 
            section 
                h1.logo To Do List 

                block number1 
